<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Out Run</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSHealthShareUsageDescription</key>
	<string>OUT FIT מבקשת גישה לנתוני הבריאות שלך כדי לסנכרן את הצעדים, המרחקים והאימונים שלך ישירות לתוך הקהילה והליגה.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>OUT FIT מבקשת רשות לעדכן את נתוני הכושר שלך כדי לשמור ולסנכרן את האימונים שביצעת באפליקציה.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>AppOut משתמשת במיקום שלך כדי להציג פארקים בקרבת מקום, לעקוב אחרי מסלולי ריצה ולחבר אותך לקהילות כושר מקומיות.</string>
	<key>NSCameraUsageDescription</key>
	<string>OUT FIT מבקשת גישה למצלמה שלך כדי לאפשר עדכון תמונת פרופיל.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>OUT FIT מבקשת גישה לגלריה שלך כדי לאפשר בחירת תמונת פרופיל.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>OUT FIT מבקשת רשות לשמור תמונות בגלריה שלך.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
